::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

/* Optional: Hide scrollbar for Firefox */
html {
  scrollbar-width: none;
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
}

.active {
  width: 250px;
  border-radius: 1.5rem;
  background-color: rgb(122, 122, 227);
}
